@import "_mixin";
@import "_varriables";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container {
    @include container;
}

.header {
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0a264055;
    backdrop-filter: blur(10px);

    &__inner {
        @include flex-inner;
    }

    &__list {
        @include flex-inner;
        gap: 50px;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}

.logo {
    font-size: 43px;
    font-weight: bold;
    color: $third-color;
}

.link {
    font-size: 16px;
    font-weight: 400;
    transition-duration: .3s;
    color: $third-color;
    &:hover {
        color: $second-color;
    }
}

.btn {
    width: 128px;
    height: 40px;
    border-radius: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    transition-duration: .3s;
    @include btn-element;
    background-color: $third-color;
    color: $first-color;
    &:hover {
        border: 1px solid $second-color;
        background-color: $second-color;
        color: $first-color;
    }
}