// Color

$first-color: #0A2640;
$second-color: #65E4A3;
$third-color: #FFFFFF;
$four-color: #F1F1F1;
$five-color: #777777;
$six-color: #0A2640;

// Font

$default-font-size: 16px;
$first-font-size: 18px;
$second-font-size: 20px;
$third-font-size: 24px;
$four-fon-size: 30px;
$five-font-size: 36px;
$six-font-size: 40px;
$seven-font-size: 48px;
$eyn-font-size: 50px;

